---
import BaseHead from '../components/BaseHead.astro';
import Hero from '../components/Hero.astro';
import Instructor from '../components/Instructor.astro';

import WhatYouBuild from '../components/WhatYouBuild.astro';
import WhoItsFor from '../components/WhoItsFor.astro';
import FAQSection from '../components/FAQSection.astro';
import Pricing from '../components/Pricing.astro';
import Navbar from '../components/Navbar.astro';
import Overview from '../components/Overview.astro';
import Topics from '../components/Topics.astro';
import Footer from '../components/Footer.astro';
import TaughtBy from '../components/TaughtBy.astro';
import WhiteCallout from '../components/WhiteCallout.astro';
import Price from '../components/Price.astro';
import { XataClient, type CouponsRecord } from '../xata';
import { XATA_API_KEY } from 'astro:env/server';

const coupon = Astro.url.searchParams.get('coupon') || '';
let discount;
if (coupon) {
  try {
    const xata = new XataClient({
      apiKey: XATA_API_KEY,
    });
    const couponRecord = await xata.db.Coupons.filter({ coupon }).getFirst();
    discount = couponRecord?.discount;
  } catch (error) {
    console.error(error);
  }
}
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead />
    <script src="https://cdn.podia.com/embeds.js" async="async"></script>
  </head>
  <body>
    <main class="bg-gradient-to-r from-blue-800 to-purple-800">
      <Navbar />
      <div class="px-10">
        <Hero>
          <span slot="heading"
            >Build Modern <span class="block">Websites with Astro!</span></span
          >
          <span slot="subheading">
            A hands-on course to teach you how to build websites using Astro
            4.0, the all-in-one framework for the modern web.
          </span>
        </Hero>
      </div>
      <div class="text-white flex justify-center my-10 relative z-10">
        <TaughtBy />
      </div>
      <div class="w-full max-w-3xl mx-auto text-left translate-y-40 px-10">
        <WhiteCallout
          heading="Updated for Astro 4.0!"
          subheading="This course has been been completely reworked to work with Astro 4.0"
        >
          <div class="flex gap-x-4 items-end">
            <!-- <Price
              cost={150}
              discount={discount}
              coupon={coupon}
              showCoupon={false}
            /> -->
            <a
              class={` text-white mb-2 w-full bg-gradient-to-r from-blue-800 to-purple-800 px-8 py-4 rounded-lg  text-sm sm:text-xl md:text-2xl text-center hover:scale-105 transition-transform inline-block duration-200`}
              href="#pricing"
            >
              Start Learning
            </a>
          </div>
        </WhiteCallout>
      </div>

      <!-- <div class="w-full max-w-3xl mx-auto text-left translate-y-40 px-10">
        <Newsletter
          heading={`Sign up today!`}
          buttonText={'Join the Waitlist!'}
          client:load
        />
      </div> -->
      <Overview />
      <WhatYouBuild />
      <Topics />
      <WhoItsFor />
      <Instructor />
      <Pricing coupon={coupon} discount={discount} />
      <FAQSection />
      <Footer />
    </main>
  </body>
</html>
