---
import type { Pricing } from '../types/courses';
export interface Props {
  pricing: Pricing;
}

const { pricing } = Astro.props;
let discountedPrice;

if (pricing.discount) {
  discountedPrice = Math.round(
    pricing.cost - (pricing.cost * pricing.discount) / 100
  );
}
---

<div
  class={`shadow-xl lg:min-w-[500px]  bg-white rounded-xl p-10  flex flex-col  ${
    pricing.featured
      ? 'shadow-purple-900 border-8 border-purple-400 py-20 -ml-[10px]'
      : ''
  }`}
>
  <h3 class="text-2xl font-bold text-purple-700 text-center">
    {pricing.title}
  </h3>
  <p class="text-xl text-gray-500 mb-4 text-center">
    {pricing.subheading}
  </p>
  {
    !pricing.discount && (
      <p class="text-7xl font-bold text-gray-700 mb-10 text-center">
        ${pricing.cost}
      </p>
    )
  }
  {
    pricing.discount && (
      <>
        <p class="text-7xl font-bold text-gray-700 text-center mb-2">
          <span class=" flex flex-col ">
            <span class="relative text-xl font-light text-gray-400 line-through">
              ${pricing.cost}{' '}
            </span>
            <span class=" text-7xl text-gray-700 font-bold">
              ${discountedPrice}
            </span>
          </span>
        </p>
        <p class="text-sm mb-10 text-gray-400 text-center">
          Coupon - {pricing.coupon}
        </p>
      </>
    )
  }
  <ul class="mb-4 flex flex-col gap-y-4">
    {
      pricing.bullets.map((bullet) => (
        <li class="text-gray-900 text-lg ml-4 relative flex items-center">
          <span class="absolute -left-8">✅</span> {bullet}
        </li>
      ))
    }
  </ul>

  <a
    class={` text-white mb-2 w-full bg-gradient-to-r from-blue-800 to-purple-800 px-8 py-4 rounded-lg  text-sm sm:text-xl md:text-2xl text-center hover:scale-105 transition-transform inline-block duration-200`}
    href={pricing.href}
    data-podia-embed="link"
    data-coupon={pricing.coupon}
  >
    Buy Now
  </a>
  <p class="text-sm text-light text-gray-700 mb-4">
    *30 day money-back guarantee
  </p>
</div>
