---
import type { Pricing } from '../types/courses';
import BuyNowButton from './BuyNowButton.astro';
import Price from './Price.astro';
export interface Props {
  pricing: Pricing;
}

const { pricing } = Astro.props;
---

<div
  class={`shadow-xl lg:min-w-[500px]  bg-white rounded-xl p-10  flex flex-col  ${
    pricing.featured
      ? 'shadow-purple-900 border-8 border-purple-400 py-20 -ml-[10px]'
      : ''
  }`}
>
  <h3 class="text-2xl font-bold text-purple-700 text-center">
    {pricing.title}
  </h3>
  <p class="text-xl text-gray-500 mb-4 text-center">
    {pricing.subheading}
  </p>
  <Price server:defer cost={pricing.cost} />
  <ul class="mb-4 flex flex-col gap-y-4">
    {
      pricing.bullets.map((bullet) => (
        <li class="text-gray-900 text-lg ml-4 relative flex items-center">
          <span class="absolute -left-8">✅</span> {bullet}
        </li>
      ))
    }
  </ul>

  <BuyNowButton server:defer href={pricing.href} />
  <p class="text-sm text-light text-gray-700 mb-4">
    *30 day money-back guarantee
  </p>
</div>
