---
import { Icon } from 'astro-icon';
import Heading2 from './Heading2.astro';
import Section from './Section.astro';

const topics = [
  {
    title: 'Static Site Generation vs Server-side Rendering',
    description:
      'Learn about the multiple strategies Astro provides for rendering pages in the browser',
    icon: 'iconoir:frame-tool',
  },
  {
    title: 'Content Collections',
    description:
      'Create, organize, and validate your markdown content using Content Collections',
    icon: 'akar-icons:paper',
  },
  {
    title: 'Image Optimization',
    description:
      'Use the Astro Image component to optimized images with lazy loading for faster load times',
    icon: 'tabler:camera',
  },
  {
    title: 'TypeScript',
    description:
      'Use TypeScript to define prop types, database table models, and frontmatter schemas for Content Collections',
    icon: 'ant-design:safety-outlined',
  },
  {
    title: 'Authentication',
    description: `Learn to build a basic auth strategy using Server-side Rendering, Xata (PostgreSQL database), and cookies.`,
    icon: 'akar-icons:light-bulb',
  },
  {
    title: 'Deploying and Hosting',
    description:
      'Deploy and host your website with Astro and get your site live in no time',
    icon: 'ic:outline-rocket',
  },
];

const subheading = `One thing you can be sure of is that we take no short-cuts! You will learn core Astro concepts hands-on and in-depth.`;
const heading = `What topics are covered in this course?`;
---

<Section
  id="topics"
  heading={heading}
  subheading={subheading}
  hasBg={true}
  hasRightBox={true}
>
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 max-w-6xl mx-auto gap-8 gap-y-12"
  >
    {
      topics.map((topic) => (
        <div class="">
          <Icon class="h-10 w-10 mb-4 opacity-80" name={topic.icon} />
          <h3 class="text-2xl font-bold mb-2">{topic.title}</h3>
          <p class="text-lg tracking-wide leading-relaxed opacity-90">
            {topic.description}
          </p>
        </div>
      ))
    }
  </div>
</Section>
