---
import { Icon } from 'astro-icon';
import Newsletter from './Newsletter.svelte';
import Section from './Section.astro';

const experiences = [
  'A fundamental knowledge of HTML, CSS, and JavaScript',
  'A desire to learn new skills to put on their resume',
  'Some experience with a framework (encouraged but not required)',
];

const subheading = `This course is built for beginner to intermediate web developers who have`;
const heading = `Is this course for`;
const headingHighlight = `you?`;
---

<Section
  id="whoIsItFor"
  heading={heading}
  headingHighlight={headingHighlight}
  subheading={subheading}
  hasLeftBox={true}
>
  <div class="max-w-6xl mx-auto -mb-40">
    <div
      class="flex flex-col lg:flex-row gap-y-8 gap-x-10 mb-20 max-w-2xl lg:max-w-4xl mx-auto"
    >
      {
        experiences.map((experience) => (
          <div class="flex gap-x-4 items-center">
            <Icon class="h-10 lg:h-32 opacity-50 " name="prime:cog" />

            <p class="text-xl opacity-90">{experience}</p>
          </div>
        ))
      }
    </div>
    <p class="text-lg opacity-80 max-w-xl mx-auto text-center">
      *Still not sure if it's for you? Send me an email at <a
        href="mailto:me@jamesqquick.com"
        class="cursor underline">me@jamesqquick.com</a
      > with any outstanding questions!
    </p>
  </div>
  <div id="newsletter"></div>

  <div class="max-w-3xl mx-auto translate-y-72" id="newsletter">
    <Newsletter
      heading={`Sign up today!`}
      buttonText={'Join the Waitlist!'}
      client:visible
    />
  </div>
</Section>
