---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import BaseLayout from './BaseLayout.astro';
import YouTube from '../components/YouTube.astro';

type Props = CollectionEntry<'blog'>['data'];

const {
  title,
  description,
  pubDate,
  updatedDate,
  heroImage,
  youTubeVideoId,
  showHeader = false,
} = Astro.props;
---

<BaseLayout
  title={title}
  description={description}
  image={heroImage}
  showHeader={showHeader}
>
  <article
    class="prose prose-invert prose-xl lg:prose-2xl mx-auto text-gray-50"
  >
    <div class="mb-10">
      {youTubeVideoId && <YouTube id={youTubeVideoId} />}

      {
        !youTubeVideoId && heroImage && (
          <img
            width={1920}
            height={1080}
            src={heroImage}
            alt=""
            class="mb-8 mt-0 rounded-xl mx-auto border-4 border-white border-opacity-70"
          />
        )
      }
      <FormattedDate date={pubDate} />
      <h1 class="text-6xl mb-0">{title}</h1>
      <!-- {
        updatedDate && (
          <div class="last-updated-on">
            Last updated on <FormattedDate date={updatedDate} />
          </div>
        )
      } -->
    </div>
    <slot />
  </article>
</BaseLayout>
